
@{
    ViewData["Title"] = "MadlibForm";
}


@model MadlibWords

<h1>Madlib Form</h1>

<div class="row">
    @foreach (string partofspeech in Model.PartsOfSpeech)
    {
        <div class="col-md-4">

        </div>

    }
</div>

